
html {
  scroll-behavior: smooth;
  place-items: center;
}

/* ! Base Style */
body{  font-family: 'Inter', sans-serif;font-size: 16px; background-color: #000; place-items: center}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color: #000;padding-bottom: 30px;}

p{line-height: 28px; color:#666; font-weight: 300;}

.big-text{font-size: 70px;font-weight: 900;}
.sbig-text{font-size: 55px; font-weight: bold;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-size{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px;font-weight: bold;}


.button{padding: 18px 20px; background: #316bff; color:#fff; display: inline-block; border-radius: 4px;}

@media (max-width: 768px) {

  .big-text{font-size: 40px;}

}

/* Helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

.tw{color: #fff}
.tr{color: rgb(255, 238, 0);}




/* ! Header */

.header{
  width: 100%;
  position: fixed; /* ! Anche se scrollo rimane fisso */
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350;
  background-color: rgba(0, 0, 0, 0.384);

}

.logo{
  margin-top: -10px;
  z-index: 1;
}

.menu{

  transition: all 1s cubic-bezier(.215, .61, .355, 1);
  
  width: 100%;
  z-index: 0;
}

.menu li{display: inline-block;}
.menu li a{color: #fff;padding: 15px;display: block;}

.cta{padding-top: 18px;}

.hamburger{display: none;}

@media (max-width: 768px) {

  .cta{display: none;}

  .menu{position: absolute; top:0; right:-100%; background: #000; height: 100vh;padding-top: 80px;}
  .menu li{display: block;}
  .menu li a{padding: 15px 30px; font-size: 20px;}

  .menu--open{right:0%;}
  
  
  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
  }
  .hamburger span{background: #fff; height: 3px; width: 100%;display: block;margin-bottom: 5px;}
}



/* ! Hero */
.hero{
  position: relative;
  height: 100vh;
  display: flex; width: 100%; align-items: center; /* ! Lo centro verticalmente */
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)),
   url('video.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.hero:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0; left: 0;
  background: #000;
  opacity: 0.4;
}

.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
  position: relative;
}

.hero__content h1,
.hero__content p{color: #fff}

@media (max-width: 768px) {
  .hero__content h2{font-size: 30px;}
}




#video-back{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}





/* !Poster */
.poster{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.poster__img{width: 65%; height: 100%;}
.poster__img img{object-fit: cover; width: 100%; height: 100%;}

.poster__content{width: 35%; padding: 50px;}

@media (max-width: 768px) {

  .poster{flex-wrap: wrap; height: auto;}

  .poster__img,
  .poster__content{width: 100%;}

  
}






/* Contact-section */







/* SKILLS SECTION */

/*
.skills-title{
  color: #fff;

}
*/
.skill-bars{
  display: grid;
  margin: 0 auto;
  padding: 25px 30px;
  width: 600px;
  background: rgb(53, 53, 53);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}

@media (max-width: 768px){
  .skill-bars{
    max-width: 80%;
  }
}


.skill-bars .bar{
  margin: 20px 0;
  color: #fff;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #646464;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05),
              0 1px rgb(255, 255, 0);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(255,255,0);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 80%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.python span{
  width: 30%;
}
.bar .progress-line.c span{
  width: 85%;
}
.bar .progress-line.php span{
  width: 15%;
}
.bar .progress-line.js span{
  width: 30%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "80%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.python span::after{
  content: "30%";
}
.progress-line.c span::after{
  content: "85%";
}
.progress-line.php span::after{
  content: "15%";
}
.progress-line.js span::after{
  content: "30%";
}






.contact-section{
/*  background: url(contact-bg.jpg) no-repeat center; */
  background-color: #000;
  background-size: cover;
  padding: 40px 0;

}

.contact-section h1{
  text-align: center;
  color: #ddd;
}

.border{
  width: 100px;
  height: 10px;
  background: rgb(255, 238, 0);;
  margin: 40px auto;
}

.contact-form{
  min-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize: none;
  height: 120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5;
}

.contact-form-btn:hover{
  background: #2980b9;
  
}















/* Footer */


/*=========================
  Icons
 ================= */
 * {
  margin: 0;
  padding: 0;
}

/* footer social icons */
.footer {
  max-height: 20px;
  background-color: #000;
  padding: 20px 0;
  text-align: center;
}


ul.social-network {
  list-style: none;
  display: inline;
  margin: auto;
}
ul.social-network li {
  display: inline;
  margin: 0 10px;
}

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.social-network a.icoTelegram:hover {
  background-color: #0088cc;
}
.social-network a.icoGithub:hover {
  background-color: #176a90;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoMedium:hover {
  background-color: #00AB6C;
}
.social-network a.icoQuora:hover {
  background-color: #AA2200;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoEnvelope:hover {
  background-color: rgb(39, 38, 38);
}
.social-network a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #CCD8EA;
}

@media screen and (max-width: 500px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
}
@media screen and (max-width: 450px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

